@{
    ViewBag.Title = "Home Page";
}


<div class="bannerhny-content text-center">
    <div class="layer">
        <div class="bannerhnyinf">
            <h6>Greetings !!!</h6>
            <h3>I'm Jose Valerio</h3>
            <h4 class="ban-t"> I’m a Passionate <span class="typed-text"></span><span class="cursor">&nbsp</span></h4>
                
            </div>
        </div>
    </div>
    <!--//banner-content-->


<section class="w3l-content-w-photo-6" id="about">
    <!-- /content-grids-->
    <div class="content-photo-info py-5">
        <div class="container py-lg-3">
            <!-- /row-->
            <div class="content-photo-grids row mt-lg-5 mt-4">
                <div class="photo-6-inf-left col-lg-6 pr-lg-4">
                    <img src="~/Content/images/marcus-lenk-XB3OyCtceMM-unsplash.jpg" class="img-fluid" alt="">
                </div>
                <div class="photo-6-inf-right col-lg-6 text-left pl-lg-5">

                    <h3 class="hny-title">
                        About Me<span class="dot-1">.</span>
                    </h3>
                    <p>Prior experience consists of a wide-variety of jobs that have developed my hunger for learning. A majority of which involved technology. Through these past experiences, teamwork, independent learning, and public speaking, are a few skills I have gained that allow an unexpected advantage as a software developer.  </p>
                    <p>I like to build. I have made my own desk and shelving unit amongst other items that have some practical use. I also enjoy video games. The UI and UX in numerous games furthered my interest to code. Now, I am on a journey to grow as a programmer, and make sense of code that will continually evolve with technology.  </p>
                    <div class="read-more mt-lg-5 mt-4">
                        <a href="@Url.Action("Resume","Home")" class="read-more">
                            <span class="more_icon fa fa-long-arrow-right"></span>
                            <span class="more_text">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //row-->
            <!-- /row-->

        </div>
    </div>
</section>


