
@{
    ViewBag.Title = "Links";
}



<section class="w3l-customers-6">
    <!--/customers -->
    <div class="customers-6-infhny py-5">
        <div class="container py-lg-5">
            <h2>Classmates</h2>
            <!--/customers -->
            <div id="owl-demo2" class="owl-carousel owl-theme">
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Josh Ready</b></p>
                                <p class="testimonial"><a href="http://joshready.com/">joshready.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Arianna Harrison</b></p>
                                <p class="testimonial"><a href="http://a-harrison.com/">a-harrison.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Tim Lopez</b></p>
                                <p class="testimonial"><a href="http://tim-lopez.com/">tim=lopez.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team1.jpg" class="img-fluid" alt="">

                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>William Haskins</b></p>
                                <p class="testimonial"><a href="#">content</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Isaac Beck</b></p>
                                <p class="testimonial"><a href="http://isaacbeck.net/">isaacbeck.net</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Ryan Eutsler</b></p>
                                <p class="testimonial"><a href="http://ryaneutsler.com/">ryaeutsler.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team1.jpg" class="img-fluid" alt="">

                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Ryan Pflugradt</b></p>
                                <p class="testimonial"><a href="http://www.ryanpflugradt.com/">ryanpflugradt.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Ian WhiteHill</b></p>
                                <p class="testimonial"><a href="http://ianwhitehill.com/">ianwhitehill.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <!--/slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Ryan Simmons</b></p>
                                <p class="testimonial"></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team1.jpg" class="img-fluid" alt="">

                        </div>
                    </div>
                </div>
                <!--//slide1-->
                <div class="item">
                    <div class="teastimonials-content">
                        <div class="teastimonials-left">
                            <div class="teasti-innf">
                                <p class="overview"><b>Luke Beauchamp</b></p>
                                <p class="testimonial"><a href="http://lukeabeauchamp.com/">lukeabeauchamp.com</a></p>
                            </div>
                        </div>
                        <div class="teastimonials-right">
                            <img src="~/Content/images/team2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
               

            </div>
            <!--//customers -->
        </div>
    </div>
</section>



