
@{
    ViewBag.Title = "Projects";
}

<section class="w3-gallery">
    <!-- Portfolio -->
    <div class="portfolio py-5">
        <div class="container py-lg-5">

            <h3 class="hny-title">Stunning Projects<span class="dot-1">.</span></h3>


            @*<div class="container py-md-6">
                    <h2 style="color:#FF5959">Under Construction</h2>
                </div>*@
            <!-- /Portfolio-grids -->
            <ul class="portfolio-categ filter my-md-5 my-4 p-0">
                <li class="port-filter all active">
                    <a href="#">All</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">C#</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">Full-Stack</a>
                </li>
                @*<li class="cat-item-3">
                        <a href="#" title="Category 3">Creative</a>
                    </li>*@

            </ul>
            <ul class="portfolio-area clearfix p-0 m-0 row">
                <li class="portfolio-item2 content" data-id="id-1" data-type="cat-item-1">
                    <div class="image-block">

                        <a class="image-zoom" href="~/Content/images/CSFundamentals.png" data-gal="prettyPhoto[gallery]">
                            <div class="content-overlay">

                            </div>
                            <img src="~/Content/images/CSFundamentals.png" class="img-fluid" alt="portfolio-img">

                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">C# Fundamentals</h3>
                                <a href="https://github.com/JVB10222/C-Fundamentals" class="btn btn-primary">GitHub</a>
                            </div>
                        </a>

                    </div>
                </li>
                <li class="portfolio-item2 content" data-id="id-2" data-type="cat-item-2">
                    <div class="image-block">

                        <a class="image-zoom" href="~/Content/images/g2.jpg" data-gal="prettyPhoto[gallery]">
                            <div class="content-overlay"></div>
                            <img src="~/Content/images/fsdp.png" class="img-fluid" alt="portfolio-img">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Learning Management System</h3>
                                <a href="http://fsdp.jvbdev.com/" class="btn btn-primary">Try it out!</a>
                            </div>
                        </a>
                    </div>

                    @*    </li>
                        <li class="portfolio-item2 content" data-id="id-3" data-type="cat-item-3">
                            <div class="image-block">

                                    <a class="image-zoom" href="~/Content/images/g3.jpg" data-gal="prettyPhoto[gallery]">
                                        <div class="content-overlay"></div>
                                        <img src="~/Content/images/g3.jpg" class="img-fluid" alt="portfolio-img">
                                        <div class="content-details fadeIn-bottom">
                                            <h3 class="content-title">Add Your Title</h3>

                                        </div>
                                    </a>
                                </div>


                        </li>
                        <li class="portfolio-item2 content" data-id="id-4" data-type="cat-item-2">
                                <div class="image-block">

                                    <a class="image-zoom" href="~/Content/images/g4.jpg" data-gal="prettyPhoto[gallery]">
                                        <div class="content-overlay"></div>
                                        <img src="~/Content/images/g4.jpg" class="img-fluid" alt="portfolio-img">
                                        <div class="content-details fadeIn-bottom">
                                            <h3 class="content-title">Add Your Title</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>*@


            </ul>
            <!--end portfolio-area -->
            <!-- /Portfolio-grids -->
        </div>

    </div>
</section>


@*<section class="w3l-download-main">
        <!--/download-->
        <div class="download-content text-center">
            <div class="layer-2 py-5">
                <div class="container py-lg-3">
                    <h3 class="hny-title two">Do you like my work<span class="dot-1">.</span>?</h3>
                    <h6>Let’s work together!</h6>
                    <div class="read-more mt-lg-5 mt-4">
                        <a href="@Url.Action("Contact","Home")" class="read-more">
                            <span class="more_icon fa fa-long-arrow-right"></span>
                            <span class="more_text">Get In Touch</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--//download-->
    </section>*@
