/*.w3l-banner-main .bannerhny-content {
    background: url(../images/banner2.jpg) top;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    min-height: 100vh;
}*/

.w3l-banner-main .layer {
    background: url('../images/bannerMain.jpg') no-repeat;
    background-size: cover;
    width: auto;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.w3l-banner-main .bannerhny-content {
    background: url(../images/bannerMain.jpg) top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    min-height: 100vh;
}


.w3l-banner-main .navbar-nav .nav-link {
    padding: 0.6em 1.4em 0.4em 1.4em !important;
    color: black;
    background: transparent;
    background-color:lightgrey;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    display: block;
    line-height: 26px;
}

.w3l-banner-main a.navbar-brand {
    color: #020202;
    font-size: 30px;
    padding: 0;
    font-weight: 700;
}

.w3l-banner-main .navbar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    background: transparent;
    z-index: 9;
    min-height: 70px;
    padding: 10px;
}


.w3l-banner-main .bannerhny-content h3 {
    font-size: 80px;
    color: #E9C95A;
    font-weight: 700;
    margin: 0px 0 16px;
    line-height: 1.2;
}

h1 span {
    color: #E9C95A;
}

h3,
.h3 {
    font-size: 1.75rem;
    padding-top: .8em;
}

h2 {
    padding-top: .4em;
    padding-bottom: .5em;
    text-align:center;
}

.text-primary {
    color: #FF5959 !important;
}


.w3l-contact-main .map-content-9 form input,
.w3l-contact-main .map-content-9 form textarea {
    outline: none;
    border: 1px solid #DEE5ED;
    padding: 10px 15px 10px;
    font-size: 16px;
    line-height: 26px;
    color: #5E6271;
    width: 100%;
    height: inherit;
    border-radius: 6px;
    background: #fff;
}

.w3l-contact-main .form-top-left {
    display: grid;
    padding: 10px 0px 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

body {
    padding: 10px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

div .pdf a{
    text-align: right;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 50%;
    align-content:center;
    float:right;

}



ul{
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 0;
    margin-left:1em;
}

.w3l-customers-6 .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
    position: inherit;
    z-index: 9;
    left: -5px;
    /* right: 0; */
    bottom: 0px;

}

.w3l-customers-6 .owl-theme .owl-dots,
.w3l-customers-6 .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 20px;
}

.w3l-customers-6 .owl-carousel,
.w3l-customers-6 .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    align-content:center;
}


/************************Button styling******************************/
button {
    border-radius: 0;
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

.w3l-banner-main .navbar-toggler {
    padding: 0.4rem 0.4rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: lightgrey;
    border: 1px solid transparent;
    border-radius: 6px;
    color: black;
}

.w3l-banner-main span.navbar-toggler-icon.fa.fa-bars {
    line-height: 30px;
    font-size: 20px;
}

/***********END Of Button Styling***********************/

/*Styling for text area*/
textarea {
    overflow: auto;
    resize: none;
}

/*END of text area Styling*/

/*Icons styling */
.w3l-footer-16 .share-icons-footer a {
    font-size: 30px;
    line-height: 1;
    color: #233142;
    margin-left: 15px;
}

    .w3l-footer-16 .share-icons-footer a span.fa {
        color: #233142;
    }

    .w3l-footer-16 .share-icons-footer a:hover span.fa {
        transition: 0.3s ease;
        color: #4f9da6;
    }
/*END of Icons styling */


section #resume-section .skills{
    padding-bottom:5px;
}


